# langchain==0.2.7
langchain-core==0.2.13
langchain-community==0.2.7
langchain-google-genai==1.0.7
# html2text==2024.2.26
# langchain-chroma==0.1.2
# duckduckgo-search==6.1.12
# langchain_huggingface==0.0.3
# playwright==1.45.0
# gradio==4.37.2